body {
    margin: 15px;
 }
  
 .hero {
    margin-bottom: 20px;
 }
  
 .hero-body {
    display: flex;
    padding: 0px;
 }
  
 textarea {
    height: 50px;
    width: auto;
 }
 
 #forecast-today {
   text-align: center;
   margin-bottom: 1em;
 }

 #city-name {
   font-size: 2em;
 }

 .width {
   width: 640px;
 }

 #search {
   margin-top: 7px;
 }

 .hero{
  padding: 1rem
 }